* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* NAV STYLING STARTS FROM HERE */
nav {
  position: fixed;
  z-index: 1;
  padding: 0.6rem 0;
  background-color: #3f8c07;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

body {
  overflow-x: hidden;
}

nav > ul {
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
  font-size: 1rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  transition: color 0.6s ease-in-out;
}

nav a:hover {
  color: #a0a603;
}

a.active {
  color: #a0a603;
}

.input_btn_div {
  width: auto;
  display: flex;
  align-items: center;
}

.input_ {
  font-size: 1.2rem;
  padding: 1rem 5rem;
  width: 100%;
  height: 4rem;
  outline: none;
  border-radius: 0.4rem;
  background-color: rgba(240, 248, 255, 0.539);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.search_icon {
  width: 1.5rem;
}

.submit_btn {
  position: absolute;
  padding: 1rem 0.6rem;
  width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.132);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.708);
  font-weight: bold;
  transition: all 0.4s ease-in-out;
  background-color: #3f8c07;
}

.submit_btn:hover {
  background-color: rgba(0, 0, 0, 0.788);
  color: #a0a603;
}

.logo_text {
  color: whitesmoke;
  font-size: 1.5rem;
  text-shadow: rgba(0, 0, 0, 0.708);
  cursor: pointer;
  margin-right: 10rem;
}
.food_text {
  color: #a0a603;
}

.go_prmium_btn {
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1rem;
  background-color: black;
  color: whitesmoke;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  white-space: nowrap;
}

.go_prmium_btn:hover {
  background-color: rgba(0, 0, 0, 0.84);
  color: #a0a603;
}

/* NAV STYLING ENDS FROM HERE */

/* HERO SECTION STYLING STARTS FROM HERE */
.hero_div {
  padding-top: 12rem !important;
  width: 100%;
  height: 100%;
  background-color: #a0a603;
  padding: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.title_div {
  margin-bottom: 3rem;
  max-width: 40rem;
}
.title_text {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
  color: whitesmoke;
  margin-bottom: 1rem;
}
.line_tex {
  width: 10rem;
  border-bottom: 4px solid #3f8c07;
}
.paragraphtext_div {
  font-size: 1.3rem;
  max-width: 40rem;
}
.paragraph_text {
  margin-bottom: 1.4rem;
}
.learnmore_btn {
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1rem;
  background-color: #3f8c07;
  color: whitesmoke;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}
.learnmore_btn:hover {
  background-color: rgba(0, 0, 0, 0.84);
  color: #a0a603;
}

.hero_img {
  width: 30rem;
}
/* HERO SECTION STYLING ENDS HERE */

/* BEST OF THE DAY STYLING STARTS FROM HERE */
.bestoftheday_div {
  gap: 1rem;
  padding: 3.2rem;
  padding-top: 10rem;
  background-color: #a0a603;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left_div {
  border-radius: 0.4rem;
  background-color: #3f8c07;
  padding: 2rem;
  width: 35rem;
  height: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.right_div {
  border-radius: 0.4rem;
  background-color: #3f8c07;
  padding: 2rem;
  width: 35rem;
  height: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.best_toopoint {
  background-color: black;
  color: whitesmoke;
  width: 10rem;
  padding: 0.6rem 2rem;
  white-space: nowrap;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bestofhteday_discount_text {
  font-weight: 800;
  font-size: 1.5rem;
  color: whitesmoke;
  margin-bottom: 1rem;
}

.best_para_text {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.img_left {
  width: 8rem;
}
.OrderNow_btn {
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1rem;
  background-color: black;
  color: whitesmoke;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}
.OrderNow_btn:hover {
  background-color: rgba(0, 0, 0, 0.84);
  color: #a0a603;
}

.general_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.left_wrapup {
  max-width: 20rem;
}

/* BEST OF THE DAY STYLING ENDS HERE */
/* OUR BEST MEAL STYLING STARTS FROM HERE */
.ourbestmeal_div {
  padding: 6rem;
  padding-top: 6rem;
  background-color: #a1b225;
}

.favourite_product_heart {
  width: 1.5rem;
}
.ourbest_meal_title_text {
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
  color: white;
}

.bestmeal_para_text {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 6rem;
  color: white;
}

.product_img {
  max-width: 11rem;
}

.product_title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: whitesmoke;
}

.rating {
  display: flex;
  gap: 0.4rem;
  text-align: center;
  justify-content: center;
  font-size: 0.9rem;
 color: rgba(0, 0, 0, 0.804);
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.general_menu_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.section_container {
  padding: 1rem;
  max-width: 20rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #73a605;
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.section_container:hover {
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
  /* transform: scale(1.1); */

  background: #bfa006;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.price{
  color: white;
  font-weight: 600;
}

.rate_price_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 20rem;
}

.rate_price_div {
  display: flex;
  flex-wrap: wrap;
}
/* OUR BEST MEAL STYLING ENDS FROM HERE */

/* BEST TEXT STYLING STARTS FROM HERE */
.besttext_div {
  background-color: #a0a603;
  padding: 12rem;
  display: flex;
  flex-wrap: pre-wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  width: 100%;
  max-height: 40rem;
}

.right_title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.besttes_para_text {
  margin-bottom: 1rem;
}
.besttest_left_image {
  width: 20rem;
}
.besttest_btn {
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1rem;
  background-color: black;
  color: whitesmoke;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}
.besttest_btn:hover {
  background-color: rgba(0, 0, 0, 0.84);
  color: #a0a603;
}

.best_text_right_div {
  width: 100%;
}

.line_tex2 {
  width: 10rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid whitesmoke;
}
/* BEST TEXT STYLING ENDS FROM HERE */

/* TESTIMONIAL STYLING STARTS FROM HERE */
.Testimonial_div {
  padding: 6rem;
  background-color: #a0a603;
}
.testimonial_tex {
  text-align: center;
}

.testimonial_customer_reviews {
  text-align: center;
  font-weight: 800;
}
/* TESTIMONIAL STYLING ENDS FROM HERE */

/* TESTIMONIAL COPY STARTS FROM HERE */
/* TestimonialCarousel.css */
.testimonial-carousel {
  width: 80%;
  margin: 0 auto;
  /* Add any additional styling as per your requirements */
}

.testimonial {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  /* Add any additional styling as per your requirements */
}

.testimonial-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  /* Add any additional styling as per your requirements */
}

.testimonial-name {
  margin-top: 10px;
  font-weight: bold;
  /* Add any additional styling as per your requirements */
}

.testimonial-text {
  margin-top: 10px;
  /* Add any additional styling as per your requirements */
}

.testimonial-rating {
  margin-top: 10px;
  font-style: italic;
  /* Add any additional styling as per your requirements */
}

/* TESTIMONIAL SLIDER STYLING STARTS FROM HERE */

.text_title {
  text-align: center;
  color: white;
}

.test_subtitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 3rem;
  color: white;
}
.test_general_div {
  padding: 6rem;
  background-color: #a1b225;
  width: 100%;
  height: 100%;
}

.slick-slider {
  flex-wrap: wrap !important;
}

.quote_para_stars_div {
  text-align: center;
  padding: 2rem;
  background-color: #73a605;
  border-radius: 0.6rem;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);

  margin: 0 1rem;
}

.text_img_div {
  margin: 0 auto;
  border: 4px dotted whitesmoke;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -2rem;
  margin-bottom: 1rem;
}

.text_img {
  width: 4.5rem;
  margin: 0 auto;
}
.test_quote {
  width: 4rem;
  margin: 0 auto;
}

.test_rating_starts {
  margin-bottom: 2rem;
}

.text_parapgraph {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  color: white;
}

.test_name {
  text-align: center;
  margin-bottom: 0.2rem;
  transition: color 0.4s ease-in-out;
  color: #424242;
}

.test_name:hover {
  color: white;
}

.test_desgination {
  text-align: center;
  margin-bottom: 2rem;
}

/* TESTIMONIAL SLIDER STYLING ENDS FROM HERE */

/* Recently Added STYLE STARTS FROM HERE */
.RecentlyAdded {
  background-color: #93a605de;
}

/* Recently Added STYLE ENDS FROM HERE */

/* FOOD CLASS STYLEING STARTS FROM HERE */
.food_class_div {
  width: 100%;
  height: 4rem;
  margin-top: 6rem;
  background-color: rgba(0, 0, 0, 0.881);
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}

.fresh_img {
  width: 10rem;
}

/* FOOD CLASS STYLEING STARTS FROM HERE */

/* PROFILE IMAGE STYLING STARTS HERE */

.profile_img_open_div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px dotted white;
}

.profile_img_div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px dotted white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.profile_img_div:hover {
  transform: scale(1.1);
  background-color: white;
}

.profile_img {
  width: 2.5rem;
}
/* PROFILE IMAGE STYLING ENDS HERE */

/* PROFILE MODEL STYLING STARTS HERE */

.profile_model {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 1rem;
  padding-left: 1.5rem;
  background-color: rgb(14, 13, 13);
  max-width: 30rem;
  height: 50rem;
  margin-bottom: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.8), 0 2px 30px rgba(0, 0, 0, 0.8),
    0 8px 16px rgba(0, 0, 0, 0.9);
  border: 0.1px solid rgba(245, 245, 245, 0.584);
  z-index: 999999;
}

.user_img_username_name {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.username_name_div {
  font-size: 0.8rem;
  font-weight: 600;
}

.p_username_text {
  color: #f9f9f9;
  margin-bottom: 0.2rem;
}

.p_name_text {
  color: rgba(240, 248, 255, 0.443);
}

.p_name_text {
  font-size: 0.9rem;
  font-weight: lighter;
  margin-right: 4rem;
}
.close_btn {
  width: 2.5rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.close_btn:hover {
  transform: scale(1.2);
}

.open_model_user_img {
  width: 2.5rem;
}

.new_model_a {
  display: block;
  margin-top: 4rem;
  font-size: 0.9rem;
  margin-left: 2rem;
  color: rgba(240, 248, 255, 0.443);
}

.img_icon_div {
  display: flex;
  align-items: center;
}

.new_model_a:hover {
  color: #a0a603;
}

.icon_img {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: ccenter;
  width: 1rem;
  margin-left: 1rem;
}
/* PROFILE MODEL STYLING ENDS HERE */

/* PROFILE MODEL OVERLAY AND CROLL STYLE STARTS FROM HERE */

body.no-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3e8c0738;
  z-index: 99999;
  backdrop-filter: blur(1.5px);
}

/* PROFILE MODEL OVERLAY AND CROLL STYLE ENDS FROM HERE */

/* REVIEW FORM STYLING STARTS FROM HERE */
.reviws_div {
  border: 2px solid red;
}
/* REVIEW FORM STYLING ENDS FROM HERE */

/*  FOOTER STYLING STARTS FROM HERE */

.footer_div {
  background-color: #3f8c07;
  width: 100%;
  height: 100%;
}

.text_form_div {
  padding: 10rem;
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.779);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.news_letter_text {
  font-size: 2rem;
  font-weight: 800;
  color: whitesmoke;
  text-shadow: 0 0 10px #0000001d;
}

.form_input {
  font-size: 1.2rem;
  padding: 1rem 6rem;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 0.4rem;
  background-color: rgba(240, 248, 255, 0.884);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.search_icon {
  width: 1.5rem;
}

.submit_form_btn {
  margin-top: 1rem;
  padding: 1rem 0.6rem;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  border: none;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.132);
  cursor: pointer;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
  background-color: #3f8c07;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit_form_btn:hover {
  background-color: #3e8c07b9;
  color: whitesmoke;
}

.phone_icon,
.email_icon,
.address_icon,
.social_icon {
  margin-bottom: 1rem;
  width: 1.6rem;
  filter: drop-shadow(1px 1px 1px #000000);
}

.footer_name_phone_address_div {
  padding: 4rem;
  display: flex;
  gap: 3.1rem;
  flex-wrap: wrap;
}

.feed_text_footer {
  color: #bfa006;
}
.site_logo_text_title {
  color: whitesmoke;
}

.footer_paragrap_text_ {
  margin-top: 1rem;
  width: 20rem;
  font-size: 1.1rem;
  color: whitesmoke;
  line-height: 2rem;
}
.support_ul {
  margin-left: -2rem;
}
.support_title_ {
  color: whitesmoke;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.suppr_link {
  list-style: none;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.support_a {
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.4s ease-in-out;
}
.support_a:hover {
  color: #bfa006;
}

.phone_icon_phone_num {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.phone_title_,
.email_title_,
.address_title_,
.follow_title_ {
  color: whitesmoke;
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
}

.email_title_,
.follow_title_ {
  margin-top: 1.4rem;
  font-size: 1.2rem;
}
.phon_number,
.email_id_,
.address__ {
  color: whitesmoke;
}

.email_id_,
.address_icon_address_num {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.all_social_icons {
  display: flex;
  gap: 1rem;
}

.social_icon {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.social_icon:hover {
  transform: scale(1.4);
}

.address_icon_address_num {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.down_footer_div {
  height: 2rem;
  border-top: 1px solid rgba(245, 245, 245, 0.358);
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}
/* FOOTER STYLING ENDS FROM HERE */

/* LOGIN FORM STYLING STARTS FROM HERE */
.login_form_div_ {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem;
  padding: 6rem;
  background-color: #010101;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  border-radius: 0.6rem;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.4), 0 2px 30px rgba(0, 0, 0, 0.2),
    0 8px 16px rgba(0, 0, 0, 0.9);
  border: 0.1px solid rgba(245, 245, 245, 0.584);
  z-index: 999999;
}

.mb-4 {
  height: 3.5rem;
  color: rgba(245, 245, 245, 0.651);
}

.ripple {
  background-color: #a1b225;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.ripple:hover {
  background-color: #a2b225c9;
}

.not_memeber_text,
.sign_up_text_ {
  color: rgba(245, 245, 245, 0.651);
}

.forgot_pw,
.reg_text {
  color: #a1b225;
  transition: all 0.4s ease-in-out;
}

.forgot_pw:hover {
  color: whitesmoke;
}
.reg_text:hover {
  color: whitesmoke;
}

.form-control {
  color: rgba(245, 245, 245, 0.651);
}

.form-outline:focus {
  border: 1px solid red !important;
}
.mx-1:hover {
  color: whitesmoke;
}

.form-control:focus {
  color: #b7b7b7;
  outline-style: #a1b225 !important;
  box-shadow: inset 0 1px 2px #a1b225;
}

.login_in_close_icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.login_in_close_icon:hover {
  transform: scale(1.2);
}

/* LOGIN FORM STYLING ENDS FROM HERE */

/* REGISTER STYLING STARTS FROM HERE */
.form-check-input[type="checkbox"]:checked {
  background-image: none;
  background-color: #a1b225;
}

.form-check-input:checked {
  border-color: #a1b225;
}

.form-check-input:checked {
  background-color: #a1b225;
  border-color: #a1b225;
}

/* RESGISTER STYLING ENDS FROM HERE */

/* FAQ STYLING STARTS FROM HERE */
.faq_div {
  padding: 8rem;
  background-color: #a1b225;
}

.accordion {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.faq_title_text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: black;
}

.faq_p_text {
  margin-bottom: 1.6rem;
  color: blacl;
}

.faq_para_text_2 {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.for_resturant {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-weight: 600;
}

.question-circle {
  color: #a0a603;
}

/* FAQ STYLING ENDS FROM HERE */

/* DOWNLOAD APP STYLING STARTS FROM HERE */
.download_app_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: 0.6rem;
  background-color: black;
  width: 100%;
  height: 100%;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.phone_op_icons {
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.download_para_text {
  font-size: 1.5rem;
  color: white;
  width: 100%;
  margin-right: -8rem;
}
/* DOWNLOAD APP STYLING ENDS FROM HERE */

/* ABOUT US PAGE STYLING STARTS FROM HERE */
.about_us_div {
  padding: 6rem;
  background-color: #a0a603;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.buga_img_ {
  width: 30rem;
}

.left_img_righttext_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.abt_us {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
}

.right_text_ {
  font-size: 2.4rem;
  color: black;
  font-weight: 800;
}

.abt_para_text_ {
  font-weight: 600;
  font-size: 1.1rem;
}

.menu_food_count {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.numb_reduce {
  font-size: 1.3rem;
  font-weight: 800;
  color: black;
}

.reduce_p_text {
  font-size: 0.9rem;
}

.good_food_text_ {
  font-size: 2.1rem;
  color: black;
  font-weight: 800;
}

.right_text_div {
  flex-wrap: wrap;
}

.good_food_div_ {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

._signature_ {
  width: 8rem;
  filter: drop-shadow(0 0 10px #000000);
}

.img_signature_ {
  width: 32rem;
  border-radius: 1rem;
  filter: drop-shadow(0 0 10px #000000);
}

.author_name_ {
  color: #3f8c07;
  font-weight: 600;
  font-size: 1.4rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.line_div {
  margin: 2rem 0;
  width: 6rem;
  border-top: 4px solid #3f8c07;
}

.location_btn_ {
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1rem;
  background-color: black;
  color: whitesmoke;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}
.location_btn_:hover {
  background-color: rgba(0, 0, 0, 0.84);
  color: #a0a603;
}

.right_need_help_div {
  margin: 0 4rem;
}

.help_address_div__ {
  display: flex;
  gap: 4rem;
  margin-bottom: 6rem;
}

.need_help_text {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

.call_resturant_ {
  font-size: 1rem;
  white-space: nowrap;
}

.need_help_div_ {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  margin-top: 10rem;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.left_text_check_food_ {
  width: 40%;
}

.right_need_help_div {
  width: 40%;
}
.phone_phone_number {
  display: flex;
  gap: 0.8rem;
}

.mail_text {
  margin-top: -1rem;
}

.resturant_icon_ {
  width: 2rem;
  margin: 0 1rem;
}

.adress_icon_div__ {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotted_line_div {
  margin-left: 2rem;
  border-top: 2px dotted black;
  margin: 1rem 0;
}

.address_phoe_email_website_div__ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  flex-wrap: wrap;
}

.map2_icon__ {
  width: 2rem;
}

.address_text_icon_div___ {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Adress_text__g {
  margin: 0;
}

.Adress_text__g {
  color: black;
  font-weight: 600;
}
/* ABOUT US PAGE STYLING ENDS FROM HERE */

/* CONTACT PAGE STYLING STARTS FROM HERE */

.general_section_div {
  margin-top: 6rem;
}
.contact_div {
  padding: 8rem;
  padding-top: 12rem;
  background-color: #a0a603;
}

.need_help_div_2 {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.get_intouch_para_text__2 {
  margin-bottom: 2rem;
}

.get_intouh_title__ {
  font-weight: 800;
  color: black;
}

.left_get_intou_div {
  width: 40%;
}

.right_form_get_div {
  width: 50%;
}

.map_icon___ {
  width: 2rem;
}

.adress__num_mail_div {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.adress__office {
  font-size: 1.5rem;
}

.office_adress__ {
  display: flex;
  gap: 1rem;
}

.adress__office {
  margin-bottom: 0;
  font-weight: 600;
  color: black;
  font-size: 1rem;
}

.office__adres__tesxt {
  font-size: 0.9rem;
}

.right_form_get_div {
  border-radius: 1rem;
  padding: 2rem;
  background-color: black;
  box-shadow: 2px 2px 6px rgba(75, 70, 70, 0.9);
  margin: 2rem 0;
}

.get_intouch_form_div {
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
  width: 100%;
}

label {
  color: #c4c5c6 !important;
}

/* CONTACTS PAGE STYLING ENDS FROM HERE */

/* FAVOURITE PAGE STYLING STARTS FROM HERE */
.favourite_div__ {
  background-color: #a0a603;
  width: 100%;
  height: 100%;
  padding: 6rem;
}

.no_favorites_text {
  text-align: center !important;
  margin-bottom: 2rem;
  color: black;
}

.explain_favourite_text_div {
  width: 100%;
}

.explain_favourite_text_ {
  font-size: 1.1rem;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: black;
}

.explain_favourite_text_2 {
  font-size: 1.2rem;
  max-width: 40rem;
  margin: 0 auto;
  color: black;
}

.animated_heart__div {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}

.link__change_color {
  color: blue;
  text-decoration: underline;
  transition: all 0.4s ease-in-out;
}

.link__change_color:hover {
  color: white;
}
/* FAVORITE PAGE STYLING ENDS FROM HERE */

/* GO PREMIUME STYLING STARTS FROM HERE */
.Gopremium__ {
  background-color: #a0a603;
  padding: 8rem;
  width: 100%;
  height: 100%;
}
/* GO PREMIUME STYLING ENDS FROM HERE */

/* WRITE REVIEW STYLING STARTS FROM HERE */
.write_reviews_div {
  padding: 6rem;
  width: 100%;
  height: 100%;
  background-color: #a0a603;
}

.reviews_div {
  background-color: #0e1f02;
  border-radius: 0.6rem;
  max-width: 50rem;
  height: 100%;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 3rem;
  padding-bottom: 4rem;
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 6rem;
}

.starIcons2 {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.keep_in_mind__text {
  color: white;
}

.facts_to_keep_ {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.tings_too_ {
  border-radius: 0.4rem;
  padding: 0.4rem;
  color: white;
  background-color: #3f8c07;
  margin-bottom: 2rem;
}
textarea {
  resize: none;
  overflow: hidden;
  resize: none;
  height: auto;
}
.form-control {
  color: white !important;
}

._submit_review_btn {
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1rem;
  background-color: #3f8c07;
  color: whitesmoke;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  margin-top: 2rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

._submit_review_btn:hover {
  background-color: whitesmoke;
  color: black;
}

.form-control:focus ~ .form-notch div {
  border-color: rgb(255, 255, 255) !important;
}

.form-control:focus ~ .form-label {
  color: white !important;
}
